*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: white;

}

#title{
    font-size: 3rem;
}

#title-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.game-container{
display: grid;
grid-template-areas: 'one two three';                
justify-content: center;
align-items: center;
gap: 0.015rem;
}

.cell{
    min-width: 3rem;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(235, 228, 228);
    border-radius: 0.5rem;
    padding: 0.7rem;
    margin: 0.1rem;
    font-style: italic;
}